{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki: {{ title }}
{% endblock %}

{% block body %}

    {% if not entry %}
        <div>
            <p>Apologies. Page with {{ title }} doesn't exist yet.</p>
        </div>
    {% else %}
        <p>{{ message }}</p>
        <h1>{{ title }}</h1>

        <div>
            <p>{{ entry }}</p>
        </div>

        <a href="{% url 'edit_page' title %}">
            <button>Edit Page</button>
        </a>

    {% endif %}

{% endblock %}

